<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <div id="banner">
    <img src="/favicon.ico" /><img src="/favicon.ico" /><img src="/images/nbert_80x80.png" /><img src="/favicon.ico" /><img src="/favicon.ico" />
  </div>
  <%= yield %>

  <%= javascripts %>
</body>
</html>