<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <img src="/favicon.ico" /><img src="/favicon.ico" /><img src="/images/nbert_80x80.png" /><img src="/favicon.ico" /><img src="/favicon.ico" />
  <%= yield %>
</body>
</html>