<h2>register</h2>

<% if !msg.nil? %>
<%= "Warning: #{msg}" %>
<% end %>

<div id="register_form">
  <form action="/web/do_register" method="post">
	     name: <input type="text"   name="name"                      /><br/>
	    email: <input type="text"   name="email"                     /><br/>
	 latitude: <input type="text"   name="latitude"                  /><br/>
	longitude: <input type="text"   name="longitude"                 /><br/>
	           <input type="hidden" name="_method" value="put"       />
               <input type="submit"                value="Register!" />
  </form>
</div>

